absl-py
astor
bleach
gast
grpcio
h5py
html5lib
Markdown
nltk
numpy
protobuf
PyYAML
scipy
six
tensorboard
tensorflow==1.7.0
termcolor
Werkzeug
Flask
Flask-SQLAlchemy
flask-marshmallow
marshmallow-sqlalchemy
marshmallow
SQLAlchemy
kears==2.1.5
flask
flask-cors
unidecode
gtts
xlrd