.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 10px 55px 10px 5px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box.hovered, .search-box:hover, .search-box:active {
  border: 1px solid #aaa;
}
.one{
  margin-top:10%;
}
.two{
  margin-bottom:5%;
}
.search-box input[type=text] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 3px;
  color: #aaa;
  border-radius: 3px;
  font-size: 20px;
  padding: 3px 8px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* .search-box .search-btn:hover {
  color: #fff;
  background-color: #8FBE00;
} */
.radio-btn-lang{
  position: relative;
  margin: 0 auto;
}
