<div class="container one">
  <div class='row'>
    <div class='col-md-12'>
      <div class='search-box'>
        <form class='search-form'>
          <input class='form-control' placeholder='Search Word' type='text'>
          <button class='btn btn-link search-btn'>
            <i class='fas fa-search'></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container two">
  <div class='row'> 
    <div  style="margin:0 auto">
    <label class="radio-inline"><input type="radio" name="optradio" checked>&nbsp;English</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="radio-inline"><input type="radio" name="optradio" checked>&nbsp;සිංහළ</label></div>
  </div>
</div>