<footer>
  <nav class="navbar  text-center">
    <div class="w-100 social-icons text-center">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-facebook-messenger"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="w-100 footer-text text-center">
    {{ "FOOTER_TEXT_1" | translate }}
    </div>
    <div class="w-100 footer-text text-center">
      © {{year}} {{ "FOOTER_TEXT_2" | translate }}
    </div >
    <div class="w-100 footer-text text-center">
      <a routerLink="">{{ "HOME" | translate }}</a> | <a href="#">{{ "ABOUT" | translate }}</a>
    </div>
  </nav>
</footer>
