.result-similarity{
  font-size: 20px;
}

.text-to-speech {
  margin-left: 10px;
  font-size: 20px;
  transform: scale(1,1);
  color: lightgray;
}

.text-to-speech:hover {
  cursor: pointer;
  opacity: 0.6;
  color: darkgray;
}

ion-list{
  overflow: scroll;
}
