<footer>
  <nav class="navbar fixed-bottom text-center">
    <div class="w-100 social-icons text-center">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="w-100 footer-text text-center">
      Team Thesaurus, Final Year Project (CSE 15), Department of Computer Science & Engineering, University of Moratuwa.
    </div>
    <div class="w-100 footer-text text-center">
      © {{year}} All Rights Reversed.</div>
  </nav>
</footer>
