#custom-search-input{
  padding: 8px;
  border: solid 1px #E4E4E4;
  background-color: #fff;
  border-radius: 25px;
}

#custom-search-input:focus-within{
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button, #custom-search-input select{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
}

#custom-search-input select{
  padding: 0px;
}

#custom-search-input select option:checked { color: #ffc107; }

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.features{
  font-size: 14px;
  color: gray;
}

.detected-lang:hover{
  cursor: default!important;
}
