#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  border-radius: 25px;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  cursor: pointer;

}

.features{
  font-size: 14px;
  color: gray;
}
