<div class="row">
  <div class="column">
    <div class="card">
      <h3>Synonyms</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Definition</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>POS</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Concordance</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>
